#include <Windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

1 VERSIONINFO
 FILEVERSION 0,1,0,1
 PRODUCTVERSION 0,1,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "TR2013 Assist\0"
            VALUE "FileVersion", "0.1.0-rc1\0"
            VALUE "InternalName", "TR2013_Assist\0"
            VALUE "LegalCopyright", "Copyright (c) 2026 Snse\0"
            VALUE "OriginalFilename", "TR2013_Assist.exe\0"
            VALUE "ProductName", "TR2013 Assist\0"
            VALUE "ProductVersion", "0.1.0-rc1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
